/* RESET  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COMMON  */
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    color: white;
}


a {
    text-decoration: none;
    color: gray;
    }
    a:hover {
        color: white;
}

button {
    border: unset;
    background-color: unset;
    color: gray;
    font-size: 1rem;
    }
    button:hover {
        color: white;
}


ul {
    list-style: none;
}

/* HEADER  */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 90px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    .header__cta {
        margin-right: 1.25rem;
        padding: 1rem 2.5rem;
        color: white;
        background-color: unset;
        border: solid white 1px;
        border-radius: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
}

/* SIDEBAR  */
.sidebar {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 230px;
    height: calc(100% - 90px);
    overflow: hidden;

    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 0;
    }
    .sidebar__logo {
        width: 125px;
    }
    .sidebar__icon {
        width: 20px;
        vertical-align: text-bottom;
    }
    .sidebar__playlist {
        flex-grow: 1;
        min-height: 100px;
        overflow: scroll;
    }