/* RESET  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COMMON  */
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    color: white;
}


a {
    text-decoration: none;
    color: gray;
    }
    a:hover {
        color: white;
}

button {
    border: unset;
    background-color: unset;
    color: gray;
    font-size: 1rem;
    }
    button:hover {
        color: white;
        cursor: pointer;
}

ul {
    list-style: none;
}

/* SIDEBAR AND MAIN CONTAINER  */
.container {
    display: flex;
    height: calc(100vh - 90px);
}

/* HEADER  */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 90px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    .header__cta {
        margin-right: 1.25rem;
        padding: .75rem 2.5rem;
        color: white;
        background-color: unset;
        border: solid white 1px;
        border-radius: 2.5rem;
        text-transform: uppercase;
        font-weight: 600;
        }
        .header__cta:hover {
            transform: scale(1.1);
}

/* SIDEBAR  */
.sidebar {
    z-index: 2;
    width: 230px;
    height: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem 1.25rem .5rem;
    }
    .sidebar li {
        margin: .5rem 0;
    }
    .sidebar__logo {
        width: 125px;
    }
    .sidebar__icon {
        width: 1.5rem;
        vertical-align: text-bottom;
    }
    .sidebar__item--hidable-reverse {
        display: none;
    }
    .sidebar__menu {
        margin: 1rem 0 0;
    }
    .sidebar__item--active {
        position: relative;
        color: white;
        }
        .sidebar__item--active::before {
            content: "";
            position: absolute;
            left: -1.25rem;
            top: -.5rem;
            height: 1.75rem;
            border: solid 2px green;
        }
    .sidebar__playlist {
        flex-grow: 1;
        min-height: 100px;
        overflow: scroll;
        margin: 1rem 0 0;
        }
        .sidebar h4 {
            text-transform: uppercase;
        }
        .sidebar__playlist button:before {
            background-color: gray;
            color: black;
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f067";
            display: inline-block;
            height: 2rem;
            width: 2rem;
            line-height: 2rem;
            vertical-align: middle;
            margin-right: .5rem;
    }
    .sidebar__cta {
        font-size: .875rem;
        margin-top: .5rem;
    }
    .sidebar__profile {
        margin-top: .5rem;
        padding-top: .5rem;
        border-top: solid gray 1px;
        width: 100%;
        color: white;
        font-weight: 700;
        line-height: 2rem;
        }
        .sidebar__profile img {
            width: 1.5rem;
            height: 1.5rem;
            background-color: gray;
            border-radius: 50%;
            vertical-align: text-bottom;
    }
    .sidebar span {
        margin-left: .5rem;
    }

/* MAIN CONTENT */
main {
    height: 100%;
    padding-top: 90px;
    background-color: #141922;
    flex-grow: 1;
    overflow: scroll;
    }
    .main__menu {
        display: inline-block;
        width: 100%;
        }
        .main__menu ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem;
        text-transform: uppercase;
        }
        .main__menu li {
            margin: 1rem 1rem 2rem;
            font-weight: 600;
        }
        .main__menu li:last-of-type {
            margin-right: 1rem;
        }
        .main__menu--active {
            color: white;
            position: relative;
            }
            .main__menu--active::after {
                content: "";
                position: absolute;
                border: solid 2px green;
                width: 50%;
                top: 1.5rem;
                left: 25%;
                text-align: center;
    }
    .main__block {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        }
        .main__block > * {
            margin-bottom: 1rem;
        }
        .main__block h6 {
            color: gray;
            font-weight: 500;
        }
        .main__collection {
            display: flex;
            justify-content: flex-start;
            flex-grow: 0;
            }
            .main__item {
                width: calc((100% / 6) - .5rem);
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-right: .5rem;
                margin-bottom: 1rem;
                }
                .main__item * {
                    margin-bottom: .5rem;
                }
                .main__item h6 {
                    color: gray;
                    font-weight: 500;
}

/* FOOTER  */
footer {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    z-index: 3;
    }
    .currentSong {
        width: 230px;
        padding: .5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        }
        .currentSong img {
           width: 42px; 
           height: 42px;
        }
        .currentSong__info {
            margin-left: 3%;
            flex-grow: .5;
        }
        .currentSong__info h6 {
            color: gray;
            font-weight: 500;
        }
        .currentSong__icons {
            display: flex;
            width: 20%;
            }
            .currentSong__icons * {
                margin: .2rem 20%;
                
    }
    .player {
        flex-grow: 1;
        flex-shrink: 1;
        padding: .5rem;
        }
        .player__buttons {
            display: flex;
            justify-content: center;
            }
            .player__buttons button {
                color: white;
                margin: 0 5%;
                font-size: 1.1rem;
            }
            .player__buttons button:hover {
                transform: scale(1.2);
            }
            .player__button--bigger i {
                font-size: 1.7rem;
        }
        .player__state {
            display: flex;
            justify-content: space-around;
            margin-top: .5rem;
        }
        .player__bar {
            width: 70%;
            height: .3rem;
            background-color: gray;
            display: inline-block;
            margin: .5rem;
            border-radius: .5rem;
            position: relative;
            }
        .player__innerBar {
                content: "";
                display: inline-block;
                width: 60%;
                background-color: white;
                height: .3rem;
                position: absolute;
                border-radius: .5rem;
    }
    .option {
        width: 230px;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        }
        .option__bar {
            width: 60%;
            height: .3rem;
            background-color: gray;
            display: inline-block;
            border-radius: .5rem;
            position: relative;
            }
        .option__innerBar {
                content: "";
                display: inline-block;
                width: 60%;
                background-color: white;
                height: .3rem;
                position: absolute;
                border-radius: .5rem;
}



@media all and (max-width: 1100px) {
    .main__collection {
        flex-wrap: wrap;
        }
        .main__item {
            width: calc(25% - .5rem);
        }
}


@media all and (max-width: 700px) {
    .main__item {
        width: calc(50% - .5rem);
    }

    .currentSong, 
    .player, 
    .option {
        width: calc(100% / 3);
    }
    .currentSong__icons {
        flex-direction: column;
    }
    .option__bar {
        width: 50%;
    }
}

@media all and (max-width: 600px) {
    /* STYLES REDUCING THE SIDEBAR  */
    .sidebar {
        transition: 2s;
    }
    .sidebar.sidebar--closed:not(:hover) {
        width: auto;
        min-width: 50px;
        padding: .5em;
        align-items: center;
        }
        .sidebar--closed:not(:hover) .sidebar__item--hidable {
            display: none;
            }
            .sidebar--closed:not(:hover) .sidebar__item--hidable-reverse {
            display: inline-block;
        }
        .sidebar--closed:not(:hover) .sidebar__item--active::before {
            content: none;
        }
        .sidebar--closed:not(:hover) .sidebar__profile {
            border: unset;
            width: unset;
    }

    .player__buttons button {
        margin: 0 3%;
    }
}