/* RESET  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COMMON  */
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    color: white;
}


.link {
    text-decoration: none;
    color: gray;
    display: block;
}
.link:hover {
    color: white;
    cursor: pointer;
}

.btn {
    border: unset;
    background-color: unset;
    font-size: 1rem;
    }
.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.title {
    margin-bottom: .375em;
    color: white;
    font-weight: 600;
}
.subtitle {
    color: gray;
    font-weight: 500;
}

/* SIDEBAR AND MAIN CONTAINER  */
.container {
    display: flex;
    height: calc(100vh - 90px);
}

/* HEADER  */
.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
.header__cta {
    margin-right: 1.25rem;
    padding: .75rem 2.5rem;
    color: white;
    border: solid white 1px;
    border-radius: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* SIDEBAR  */
.sidebar {
    z-index: 2;
    width: 230px;
    height: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: stretch;
    padding: 1.25rem 1.25rem .5rem;
}
.sidebar__logo {
    width: 125px;
}
.sidebar__icon {
    width: 1.5rem;
    vertical-align: text-bottom;
}
.sidebar__link--active {
    position: relative;
    color: white;
}
.sidebar__link--active::before {
    content: "";
    position: absolute;
    left: -1.25rem;
    top: -.5rem;
    height: 1.75rem;
    border: solid 2px green;
}
.sidebar__item--hidable-reverse {
    display: none;
}
.sidebar__menu {
    margin: 1rem 0 0;
}
.sidebar__list {
    list-style: none;
}
.sidebar__li {
    display: inline-block;
    margin-bottom: .75rem;
}
.sidebar__title {
    text-transform: uppercase;
    margin-bottom: .75rem;
}
.sidebar__playlist {
    flex-grow: 1;
    min-height: 100px;
    overflow-y: auto;
    margin: 1rem 0 0;
}
.sidebar__addPlaylist {
    background-color: gray;
    color: black;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    margin-right: .5rem;
    position: relative;
}
.sidebar__addPlaylist:before {
    content: "";
    height: 1rem;
    width: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
.sidebar__addPlaylist:after {
    content: "";
    height: .2rem;
    width: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
.sidebar__cta {
    font-size: .875rem;
    margin-top: .5rem;
    text-align: left;
}
.sidebar__profile {
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: solid gray 1px;
    width: 100%;
    color: white;
    font-weight: 700;
    line-height: 2rem;
}
.sidebar__profile img {
    width: 1.5rem;
    height: 1.5rem;
    background-color: gray;
    border-radius: 50%;
    vertical-align: text-bottom;
}
.sidebar__profile span {
    margin-left: .5rem;
}

/* MAIN CONTENT */
.main {
    height: 100%;
    padding: 90px 1rem 1rem;
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
    }

.mainNav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    text-transform: uppercase;
    list-style: none;
}
.mainNav__link {
    margin: 1rem 1rem 2rem;
    font-weight: 600;
}
.mainNav__link:last-of-type {
    margin-right: 1rem;
}
.mainNav__link--active {
    color: white;
    position: relative;
}
.mainNav__link--active::after {
    content: "";
    position: absolute;
    border: solid 2px green;
    width: 50%;
    top: 1.5rem;
    left: 25%;
    text-align: center;
}
.main__title {
    font-size: 1.75rem;
    font-weight: 800;
}

.main__collection {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    margin-bottom: 3rem;
}
.album {
    width: calc((100% / 6) - 1rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.album__imgBtn {
    position: relative;
    margin: 1.25rem 0;
}
.album__img {
    display: block;
    width: 100%;
    height: 100%;
}
.album__imgBtn--rounded {
    border-radius: 50%;
    overflow: hidden;
}
.album__btn {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;       
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    color: white;
}
.album:hover .album__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER  */
.footer {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    position: relative;
    z-index: 3;
}
.footer .btn {
    color: white;
}
.footer .btn:hover {
    transform: scale(1.2);
}
.currentSong {
    width: 230px;
    padding: .5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.currentSong__img {
    width: 42px; 
    height: 42px;
}
.currentSong__info {
    margin-left: 3%;
    flex-grow: 1;
}
.currentSong__subtitle {
    font-size: .75rem;
}
.currentSong__buttons {
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: 50%;
}
.player {
    flex-grow: 1;
    flex-shrink: 1;
    padding: .5rem;
}
.player__buttons {
    text-align: center;
}
.player__btn {
    color: white;
    margin: 0 2rem;
    font-size: 1rem;
    vertical-align: middle;
}
.player__btn--bigger {
    font-size: 2rem;
}
.player__state {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: 500;
}
.option {
    width: 230px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
    }
.option__btn {
    margin: 0 2%;
}

.bar {
    width: 50%;
    height: .3rem;
    background-color: gray;
    margin: 0 2%;
    border-radius: .5rem;
    position: relative;
}
.innerBar {
    content: "";
    left: 0;
    width: 60%;
    background-color: white;
    height: 100%;
    position: absolute;
    border-radius: .5rem;
}
.bar:hover .innerBar{
    background-color: greenyellow;
    cursor: pointer;
}
.bar:hover .innerBar::after {
    content: "";
    display: block;
    top: -.25rem;
    right: 0;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    background-color: greenyellow;
    position: absolute;
}




@media all and (max-width: 1100px) {
    .main__collection {
        flex-wrap: wrap;
    }
    .album {
        width: calc(25% - .5rem);
        margin-right: .5rem;
    }
    .player__btn {
        margin: 0 3%;
    }
}


@media all and (max-width: 700px) {
    .album {
        width: calc(50% - .5rem);
        margin-right: .5rem;
    }
    .player {
        width: 40%;
    }
    .currentSong,  
    .option {
        width: 30%;
    }
    .currentSong__buttons {
        flex-direction: column;
    }
}

@media all and (max-width: 600px) {
    /* STYLES REDUCING THE SIDEBAR  */
    .sidebar.sidebar--closed:not(:hover) {
        width: auto;
        min-width: 50px;
        padding: .5em;
        align-items: center;
    }
    .sidebar--closed:not(:hover) .sidebar__item--hidable {
        display: none;
        }
        .sidebar--closed:not(:hover) .sidebar__item--hidable-reverse {
        display: inline-block;
    }
    .sidebar--closed:not(:hover) .sidebar__item--active::before {
        content: none;
    }
    .sidebar--closed:not(:hover) .sidebar__profile {
        border: unset;
        width: unset;
    }
}